body{
  background-color:#A997C7;
  }
   h1, p {
     text-align:center;
     color:#331861;
     font-size: 24px;
}

.container{
  display:flex;
  background-color:#331861;
  width:1440px;
  margin: 20px auto;
  content: center;
}

.container div {
  background-color: #A5A5F0;
  margin: 10px;
    padding: 30px;
  font-size: 24px;
  content: center;
}

footer {
  background-color: white;
  color: white;
  text-align:center;
  padding:2rem;
  margin-top:2rem;
}

.social a{
  display: inline-flex;
  align-items:center;
  justify-content:center;
  width: 50px;
  height: 50px;
  background: white;
  color: rgb(62, 0, 93);
  border-radius: 50%;
  text-decoration:none;
  font-size:1.5rem;
}
