body{
  background-color:#A997C7;
  }
   h1, p {
     text-align:center;
     color:#331861;
     font-size: 24px;
}

.container{
  display:flex;
  background-color:#331861;
  width:1440px;
  margin: 20px auto;
  content: center;
  align-items: center;
}

.container div {
  background-color: #A5A5F0;
  margin: 10px;
    padding: 30px;
  font-size: 24px;
  content: center;
}

footer {
  background-color: white;
  color: white;
  text-align:center;
  padding:2rem;
  margin-top:2rem;
}

.social a{
  color: white;
  margin: 0 1rem;
  font-size:1.2rem;
}
